{{> header}}
<main>
  <h1>All About Book Worm! 📚🐛</h1>
  <p class="aboutapp">Book Worm is an MVC app allowing users to organize their favorite books and the books they want to read. It uses the Google Book API to allow users to search for books by title or author. From there, they can add them to their "Faves" list or their "TBR" list. Users can view these lists at any time, and they can also update them by adding or removing books from the lists.</p>
  <p class="aboutapp">This app will help users track the books they read, which will encourage them to read, too. Tracking apps like Book Worm help hold people accountable.</p>
  <p class="aboutapp">I decided to create this app because I have unfortunately been in a reading slump for the last year or so. I am relying on Book Worm to help motivate me to start reading again! Reading should be a goal for everyone, and this app will help hold all of us accountable and motivate us to both exercise and reward our brain with the beauty of books.</p>
  <h3>Happy reading!</h3>
</main>