{{> header}}
<main>
  <h1>Welcome to Book Worm!</h1>
  <p>Currently, you are {{#unless isLoggedIn}} NOT {{/unless}} logged in.</p>
  <p>Use the header above to {{#if isLoggedIn}} logout{{else}} login or create an account{{/if}}.</p>
  <p>{{#if isLoggedIn}} Please explore the site using the nav bar above! {{else}} {{/if}}</p>
</main>
</main>
